.features {

  .heading {
    
    h1 {
      position: relative;
      margin-bottom: 80px;
      font-size: 45px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -40px;
        width: 150px;
        height: 2px;
        background-color: $DarkGrayishViolet;
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    .feature {
      flex: 1;
      h2 {
        font-size: 22px;
        margin: 16px 0 12px;
      }
      p {
        font-size: 1rem; 
        line-height: 1.6;
        color: $GrayishBlue;
      }
    }
  }
}

.about-us {
  padding: 77px 83px;
  margin-bottom: 200px;
  background-color: $DarkViolet;
  position: relative;
  overflow: hidden;
  .img {
    
    img {
      position: absolute;
      right: 2px;
      top: 0px;
      width: 510px;
      height: 257px;
      z-index: 3;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    
    .text {
      flex: 2;
      p {
        font-size: 2.6875rem;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
      }
    }
    .btn {
      flex: 1;
      text-align: right;
      text-transform: uppercase;

      a {
        transition: 100ms ease-in-out;
        font-weight: 700;
        padding: 9px 25px;
        border: 1px solid $white;
        // border-radius: 30px;
        color: $white;
        position: relative;
        z-index: 5;
        transition: 100ms ease-in-out;
        &:hover {
          background-color: $white;
          color: $VeryDarkViolet;
        }
      }
    }
  }
}
