// start hero section 

.hero {
  padding-top: 130px !important;
  background-color: $DarkViolet;
  width: 100%;
  height: 100vh;
  z-index: 99;
  .bg-left {
    position: absolute;
    left: 0;
    bottom: -400px;
    z-index: 99;
    overflow: hidden;
  }
  .bg-right{
    position: absolute;
    right: -36px;
    top: -11px;
    z-index: 99;
  }
  .content {
    display: flex;
    justify-content: center;
    color: $white;
  }

  .text{      
    h1 {
      position: relative;
      font-size: 3.4375rem;
      margin:  70px 0 25px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -70px;
        width: 150px;
        height: 2px;
        background-color: $white;
      }
    }

    p {
      width: 96%;
      font-size: 1rem;
      margin-bottom: 34px;
    }

    .btn {
      text-transform: uppercase;
      font-weight: 700;
      padding: 12px 41px;
      border-radius: 30px;
      background-color:  transparent;
      color: $white;
      border: 1px solid $white;
      font-size: 0.8125rem;
      transition: 100ms ease-in-out;
      &:hover {
        background-color: $white;
        border: 1px solid $white;
        color: $VeryDarkViolet;
      }
    }
  }

  .img {
    position: relative;
    z-index: 8;
    img {
      cursor: pointer;
    }
  }
}

@media (min-width: 1400px) { // Large Screen
  .hero .bg-left{
    display: block;
    position: absolute;
    left: 0;
    bottom: -368px;
    z-index: 99;
  }
  .hero .bg-right{
    position: absolute;
    right: -3px;
    top: -13px;
    z-index: 99;
    width: 100%;
    height: 100%;
  }
  .content {
    gap: 0;
    align-items: center;
  }
  .text { 
    width: 48%;
    p {
      width: 66%;
    }
  }
}