// Colors

$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);
$white: #fff;


// Fonts

$fontSize: 1rem;

$headingFonts: 'DM Serif Display', serif;
$bodyFonts: 'Karla', sans-serif;

// Helping Clases 

.pd {
  padding: 340px 0 170px;
}  