@import 'variable';
@import 'header';
@import 'features';
@import 'footer';

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  line-height: 1.3;
  font-family: $bodyFonts;
}

.container {
  width: 85%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFonts;
}

// Start Navbar

.nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 30px 0px;
  background-color: $white;
  .contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .links {
      text-transform: uppercase;
      a {
        font-size: 0.875rem;
        color: $DarkGrayishViolet;
        margin-left: 35px;
        transition: 100ms ease-in-out;
        &:hover {
          color: $VeryDarkViolet;
        }
      }
      a:last-child{
        font-weight: 700;
        padding: 9px 25px;
        color: $VeryDarkViolet;
        border: 1px solid $VeryDarkViolet;
        border-radius: 30px;
        &:hover {
          color: $white;
          background-color: $VeryDarkViolet;
        }
      }
    }
  }
}

.scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99999;
  outline: 0;
  display: none;
  border: 1px solid $VeryDarkViolet;
  animation: button .3s infinite alternate;
  i {
    font-size: 19px;
  }
} 

@keyframes button {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}